In [53]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [54]:
#read the dataset
data=pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [55]:
#Preprocess the data drop unnecessary columns
data.drop(['RowNumber','CustomerId','Surname'],axis=1,inplace=True)

In [56]:
#Encode categorical variables
label_encoder=LabelEncoder()
data['Gender']=label_encoder.fit_transform(data['Gender'])

In [57]:
#once hot encode geography column
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()
geo_encoded=onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoded

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [58]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [59]:
geo_encoded_df=pd.DataFrame(geo_encoded.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

In [60]:
#drop the original geography column
data.drop(['Geography'],axis=1,inplace=True)
#concatenate the new columns with the original dataframe
data=pd.concat([data,geo_encoded_df],axis=1)

In [61]:
#Save the encoders and scaler for future use
with open('label_encoder.pkl','wb') as f:
    pickle.dump(label_encoder,f)

with open('onehot_encoder_geo.pkl','wb') as f:
    pickle.dump(onehot_encoder_geo,f)

In [ ]:
#Divide the dataset into independent and dependent features
y=data['Exited']
X=data.drop(['Exited'],axis=1)

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0             619       0  ...                0.0              0.0
1             608       0  ...                0.0              1.0
2             502       0  ...                0.0              0.0
3             699       0  ...                0.0              0.0
4             850       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[10000 rows x 12 columns]

In [64]:
#split into train test split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
#Scale the features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [65]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [66]:
with open('scaler.pkl','wb') as f:
    pickle.dump(scaler,f)

In [67]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping
import datetime

In [69]:
X_train.shape[1]

12

In [70]:
##build ann model

model=Sequential([
Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
Dense(32,activation='relu'),
Dense(1,activation='sigmoid')
])

WARNING:tensorflow:From c:\Users\sreevathsava.pak\OneDrive - TIGER ANALYTICS\Documents\project\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [71]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [72]:
#compile the model
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

WARNING:tensorflow:From c:\Users\sreevathsava.pak\OneDrive - TIGER ANALYTICS\Documents\project\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [74]:
## Setup tensorboard
from tensorflow.keras.callbacks import TensorBoard,EarlyStopping

log_dir='logs/fit/' + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [75]:
#Setup early stopping
early_stopping=EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

In [76]:
### training the model

history=model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=100,
                  callbacks=[tensorflow_callback,early_stopping])

Epoch 1/100
WARNING:tensorflow:From c:\Users\sreevathsava.pak\OneDrive - TIGER ANALYTICS\Documents\project\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\sreevathsava.pak\OneDrive - TIGER ANALYTICS\Documents\project\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 7s 5ms/step - loss: 0.4785 - accuracy: 0.7818 - val_loss: 0.4010 - val_accuracy: 0.8310
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3869 - accuracy: 0.8431 - val_loss: 0.3565 - val_accuracy: 0.8585
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3516 - accuracy: 0.8564 - val_loss: 0.3488 - val_accuracy: 0.8580
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3419 - accuracy: 0.8600 - val_loss: 0.3442 - val_accuracy: 0.8615
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3357 - accuracy: 0.8615 - val_loss: 0.3447 - val_accuracy: 0.8575
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3322 - accuracy: 0.8620 - val_loss: 0.3422 - val_accuracy: 0.8640
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3300 - accuracy: 0.8629 - val_loss: 0.3420 - val_accuracy: 0.8610
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3267 - accuracy: 0.8659 - val_loss: 0.3389 - val_accuracy: 0.8635
Epoch 9/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3252 - accuracy: 0.8651 - val_loss: 0.3391 - val_accuracy: 0.8590
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3234 - accuracy: 0.8666 - val_loss: 0.3381 - val_accuracy: 0.8660
Epoch 11/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3210 - accuracy: 0.8650 - val_loss: 0.3418 - val_accuracy: 0.8605
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3189 - accuracy: 0.8689 - val_loss: 0.3398 - val_accuracy: 0.8620
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3184 - accuracy: 0.8687 - val_loss: 0.3410 - val_accuracy: 0.8640
Epoch 14/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3171 - accuracy: 0.8662 - val_loss: 0.3424 - val_accuracy: 0.8595
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3154 - accuracy: 0.8699 - val_loss: 0.3388 - val_accuracy: 0.8620

In [77]:
model.save('model.h5')

c:\Users\sreevathsava.pak\OneDrive - TIGER ANALYTICS\Documents\project\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [78]:
# load tensorboard extension

%load_ext tensorboard

In [81]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 18484), started 0:02:23 ago. (Use '!kill 18484' to kill it.)

In [ ]:
# load the pickle files